*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100vh;
    width: 100vw;
    background-color: rgb(7, 5, 20);
    overflow-x: hidden;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.input input{
    background-color: transparent;
    margin: 20px;
    margin-top: 50px;
    padding: 10px;
    border: 1px solid #ffffff;
    color: white;

}
.binary-bg{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: scroll;
}
.binary-bg h1{
    user-select: none;
    text-align: center;
    background-image: url(./img/white-thin-binary.png);
    background-size: cover;
    color: transparent;
    font-size: 20vw;
    background-clip: text;
}
.binary-bg::-webkit-scrollbar{
    display: none;
}